parameters:
	level: 8
	paths:
		- src/

	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	bootstrapFiles:
		- tests/bootstrap.php
		- tests/shim.php
	excludePaths:
		- %rootDir%/../../../src/TestSuite/*
	ignoreErrors:
		- '#Cannot assign offset string to array\<.+\>\|string\|null#'
