parameters:
	autoload_files:
		- bootstrap.php
		- shim.php
	excludes_analyse:
		- %rootDir%/../../../src/TestSuite/*
	ignoreErrors:
		- '#Variable \$_SESSION in isset\(\) always exists and is not nullable.#'
